In [4]:
if 3>2:
    print("it's true")

it's true

In [8]:
hungry = True
if hungry:
    print('feed me!')
else:
    print("i'm not hungry")

feed me!

In [9]:
hungry = False
if hungry:
    print('feed me!')
else:
    print("i'm not hungry")

i'm not hungry

In [11]:
loc = 'Bank'
if loc == 'Autoshop':
    print('Cars are cool!')
else:
    print('i do not know much')

i do not know much

In [16]:
loc = 'Bank'
if loc == 'Autoshop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store')
else:
    print('I do not know much')

Money is cool

In [17]:
loc = 'Park'
if loc == 'Autoshop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store')
else:
    print('I do not know much')

I do not know much

In [20]:
name = 'Sammy'
if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'John':
    print('Hello John')
else:
    print('What is your name?')

What is your name?

In [23]:
name = 'John'
if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'John':
    print('Hello John!')
else:
    print('What is your name?')

Hello John!

for loop

In [25]:
# my_iterable = [1,2,3]
# for item_name in my_iterable:
#     print(item_name)

In [26]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [28]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [31]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [35]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number:{num}')

Odd number:1
2
Odd number:3
4
Odd number:5
6
Odd number:7
8
Odd number:9
10

In [38]:
list_sum = 0
for num in mylist:
    list_sum += num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [39]:
list_sum = 0
for num in mylist:
    list_sum += num
print(list_sum)

55

In [41]:
my_string = 'Hello World'
for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [42]:
my_string = 'Hello World'
for letter in my_string:
    print('cool!')

cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!

In [43]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [44]:
my_list = [(1,2),(3,4),(5,6),(7,8)]

In [45]:
len(my_list)

4

In [46]:
for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [49]:
for (a,b) in my_list:
    print(a)
#     print(b)

1
3
5
7

In [50]:
my_list = [(1,2,3),(1,2,3),(4,5,6),(8,9,10)]
for item in my_list:
    print(item)

(1, 2, 3)
(1, 2, 3)
(4, 5, 6)
(8, 9, 10)

In [54]:
my_list = [(1,2,3),(1,2,3),(4,5,6),(8,9,10)]
for a,b,c in my_list:
#     print(a)
#     print(b)
    print(c)

3
3
6
10

In [55]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [56]:
d = {'k1':1,'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [1]:
d = {'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [4]:
my_list = [(1,2,3),(1,2,3),(4,5,6),(8,9,10)]
jelly = 0
if jelly in my_list:
    print('jelly')