In [2]:
2 % 2

0

In [3]:
3 % 2

1

In [4]:
41 % 40

1

In [5]:
20%2 == 0

True

In [6]:
21 % 2 ==0

False

In [9]:
def even_check(num):
    result = num % 2 == 0 
    return result

In [10]:
even_check(345)

False

In [11]:
even_check(200)

True

In [12]:
def even_check(num):
     return num % 2 == 0

In [13]:
even_check (12)

True

In [17]:
#RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
    return False

In [18]:
check_even_list([1,3,5,9,7])

False

In [19]:
check_even_list([2,4,5,3,6,8,10])

True

In [20]:
check_even_list([1,2,1,3,1])

True

In [22]:
check_even_list([12,3,5,9,7])

True

In [23]:
def check_even_list(num_list):
    #return all the even numbers in a list
    even_numbers  = []
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [24]:
check_even_list([1,2,3,4,5])

[2, 4]

In [25]:
check_even_list([1,3,5])

[]

tuple unpacking with pyhton functions

In [26]:
stock_prices = [('Apple',200),('Google',4000),('MICROSOFT',1000)]

In [27]:
for item in stock_prices:
    print(item)

('Apple', 200)
('Google', 4000)
('MICROSOFT', 1000)

In [28]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
4400.0
1100.0

In [31]:
work_hours = [('Abby',100),('Billy',400),('Cassie',500)]

In [33]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours 
            employee_of_month = employee
        else:
            pass
    
    #Return
    return (employee_of_month,current_max)

In [34]:
employee_check(work_hours)

('Cassie', 500)

In [35]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',500)]

In [36]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours 
            employee_of_month = employee
        else:
            pass
    
    #Return
    return (employee_of_month,current_max)

In [38]:
result = employee_check(work_hours)

In [39]:
result

('Billy', 4000)

In [40]:
name,hours = employee_check(work_hours)

In [41]:
name

'Billy'

In [42]:
hours

4000

In [44]:
item = employee_check(work_hours)

In [45]:
item

('Billy', 4000)