Write a function that computes the volume of a sphere given its radius.

volume of sphere 4/3 pi*r^3

In [1]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [2]:
vol(3)

113.03999999999999

In [3]:
vol(2)

33.49333333333333

Write a function that checks whether a number is in a given range(inclusive of high and low)

In [4]:
def ran_check(num,low,high):
    return num in range(low,high+1)

In [6]:
ran_check(5,2,7)

True

In [11]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in the range of {low} and {high}')
    else:
        print('Not in range')

In [12]:
ran_check(5,2,7)

5 is in the range of 2 and 7

In [13]:
ran_check(12,2,7)

Not in range

Write a pyhton functioin that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output:
No. of Upper case characters : 4
No. of Lower case characters : 33

HINT : Two string methods that might prove useful:.isupper() and .islower()

In [19]:
def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
        else:
            pass
    print(f'Original String {s}')
    print(f'Lowercase count: {lowercase}')
    print(f'Uppercase count: {uppercase}' )

In [20]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String Hello Mr. Rogers, how are you this fine Tuesday?
Lowercase count: 33
Uppercase count: 4

In [21]:
def up_low(s):
    d = {'upper':0,'lower':0}
    
    for char in s:
        if char.isupper():
            d['upper'] += 1
        elif char.islower():
            d['lower'] += 1
        else:
            pass
    print(f'Original String {s}')
    print(f'Lowercase count: {d["lower"]}')
    print(f'Uppercase count: {d["upper"]}' )

In [22]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String Hello Mr. Rogers, how are you this fine Tuesday?
Lowercase count: 33
Uppercase count: 4

Write a python function that takes a list and returns a new list with the unique elements of the first list

Sample list : [1,1,1,2,3,3,3,2,2,4,4,5,5]
Unique list : [1,2,3,4,5]

In [23]:
def unique_list(lst):
    return list(set(lst))

In [24]:
lst =  [1,1,1,2,3,3,3,2,2,4,4,5,5]
unique_list(lst)

[1, 2, 3, 4, 5]

approach #2

In [27]:
def unique_list(lst):
    x = []
    for number in lst:
        if number not in x:
            x.append(number)
    return x

In [28]:
lst =  [1,1,1,2,3,3,3,2,2,4,4,5,5]
unique_list(lst)

[1, 2, 3, 4, 5]

Write a python function to multiply all the numbers in the list.

Sample List : [1,2,3,-4]
Expected Output : -24

In [29]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total = total*num
    return total

In [30]:
multiply([1,2,3,-4])

-24

In [31]:
multiply([1,2,3,-4,10])

-240

Write a pyhton function that checks whether a word or phrase is palindrome or not

In [40]:
def palindrome(s):
    #REMOVE THE SPACES FROM THE STRING
    s = s.replace(' ','')
    #Check if the string == reversed string
#     s == s[::-1]  reversing a string
    return s == s[::-1]

In [41]:
palindrome('nurses run')

True

Write a python function to check whether a string is pangram or not(ASsume the string does not have any punctuations)

Note : Pangrams are the words or sentence containing every letter of the alphabet atleast once
for example : "The quick brown fox jumps over the lazy dog"

HINT : You may want to use .replace() method to get rid of spaces

In [43]:
import string 

def ispangram(str1,alphabet = string.ascii_lowercase):
    
    #Create a set of the alphabet
    alphaset = set(alphabet)
    print(alphaset)
    #Remove spaces from input string
    str1 = str1.replace(' ','')
    #Convert into all lower case
    str1 =  str1.lower()
    #Grab all unique letters from the string
    str1 = set(str1)
    #alphabet set == string set input
    return str1 == alphaset

In [44]:
ispangram("The quick brown fox jumps over the lazy dog")

{'q', 'b', 'f', 'a', 'i', 'r', 'n', 'p', 'h', 'w', 'c', 'j', 'x', 'k', 't', 'v', 'm', 'l', 'e', 'u', 'y', 'd', 'z', 's', 'o', 'g'}

True