In [5]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('x is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

In [6]:
x = 50
while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('x is not less than 5')

x is not less than 5

break,continue,pass

In [11]:
x = [1,2,3]
for item in x:
    pass
print('end of my script')

end of my script

In [13]:
my_string = 'Sammy'
for letter in my_string:
    print(letter)

S
a
m
m
y

In [14]:
my_string = 'Sammy'
for letter in my_string:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [15]:
my_string = 'Sammy'
for letter in my_string:
    if letter == 'a':
        break
    print(letter)

S

In [17]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

useful operators

In [18]:
my_list = [1,2,3,4,5]

In [21]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [22]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [23]:
for num in range (0,11,2):
    print(num)

0
2
4
6
8
10

In [24]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [1]:
index_count = 0

for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count,letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [2]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [1]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [3]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [11]:
my_list1 = [1,2,3,4,5,6]
my_list2 = ['a','b','c']
my_list3 = [100,200,300]

In [13]:
for item in zip(my_list1,my_list2,my_list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [14]:
list(zip(my_list1,my_list2,my_list3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [15]:
'x' in [1,2,3]

False

In [16]:
'x' in ['x','y','z']

True

In [17]:
2 in [1,2,3]

True

In [18]:
'a' in 'a world'

True

In [19]:
'mykey' in {'mykey':365}

True

In [20]:
d = {'mykey':345}
345 in d.keys()

False

In [21]:
mylist = [10,20,30,40,100]

In [22]:
min(mylist)

10

In [23]:
max(mylist)

100

In [29]:
from random import shuffle

In [33]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [41]:
shuffle(my_list)

In [42]:
my_list

[9, 5, 1, 2, 8, 7, 4, 6, 10, 3]

In [43]:
from random import randint

In [44]:
randint(0,100)

6

In [45]:
randint(10,90)

71

In [46]:
my_num = randint(10,20)

In [47]:
my_num

18

In [49]:
result = input('Enter a number here:')

Enter a number here:100

In [50]:
result

'100'

In [51]:
result = input('What is your favourite number?')

What is your favourite number?7

In [52]:
result

'7'

In [53]:
type(result)

str

In [54]:
int(result)

7

In [55]:
float(result)

7.0